body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(159, 199, 223);
    padding: 0;
  }
  
  header {
    background-color: #1d1c1c;
    color:beige;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  #about1 {
    text-align: center;
    padding: 1px 0;
  }
  #about {
    text-align: center;
    padding: 20px 0;
  }
  
  
  
  #skills {
    text-align: left;
    padding: 10px 0;
  }
  
  #skills ul {
    list-style: none;
  }
  
  #projects {
    text-align: center;
    padding: 20px 0;
    
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  
  #resume,
  #contact {
    text-align: center;
    padding: 20px 0;
  }
  
  #resume a {
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  footer {
    background-color: #1d1c1c;
    color:beige;
    text-align: center;
    padding: 20px 0;
  }